.main
  .main__header
    .main__header--group
      .group-name
        test
      .member-name
        Member: masa

    .main__header--group-Edit
      = link_to "Edit", "#", class: "edit-btn"

  .main__area
    %ul.massege
      %li
        .massege__header
          .massege__header--user-name
            name
          .massege__header--date
            date
        .massege__text
          text
      %li
        .massege__header
          .massege__header--user-name
            name
          .massege__header--date
            date
        .massege__text
          text

  .main__footer
    
    %form.input
      .input__form{tabIndex: "0"}
        %input{type: "text", placeholder: "type a massege", class: "input__form--text"}
        %label{class: "input__form--image"}<>
          = icon('far', 'image')
          %input{type: "file", class: "input__form--image-text"}
      %input{type: "submit",value: "Send", class: "input__btn"}
