.side
  .side__header
    .side__header--user-name
      name
    .side__header--icon<>
      = link_to "#", class: "icon" do
        = icon('fas', 'edit')
      = link_to "#", class: "icon" do
        = icon('fas', 'cog')
  .side__list
    %ul
      %li
      .side__list--group-name
        techcamp
      .side__list--massege
        まだメッセージはありません
      %li
      .side__list--group-name
        techcamp
      .side__list--massege
        まだメッセージはありません