* {
  box-sizing: border-box;
}

@mixin font($size, $color) {
  font-size: $size;
  color: $color;
}
@mixin link($color) {
  color: $color;
  text-decoration: none;
}

.wrapper {
  display: flex;

  .side {
    height: 100vh;
    width: 300px;
    font-weight: bold;

    &__header {
      height: 100px;
      background-color: #253141;
      line-height: 100px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;

      &--user-name {
        @include font(16px, #fff);
      }
      .icon {
        @include link(#fff);
        margin-left: 5px;
      }
    }

    &__list {
      height: calc(100% - 100px);
      background-color: #2f3e51;
      padding: 20px;

      &--group-name {
        @include font(15px, #fff);
        text-decoration: none;
        margin-bottom: 5px;
      }
      &--massege {
        @include font(11px, #fff);
        margin-bottom: 40px;
      }
    }
  }

  .main {
    height: 100vh;
    width: calc(100vw - 300px);
    

    &__header {
      height: 100px;
      width: calc(100vw - 300px);
      background-color: #fff;
      border-bottom: 1px solid #eee;
      position: fixed;
      display: flex;
      justify-content: space-between;

      &--group {
        margin-left: 40px;

        .group-name {
          @include font(20px, #333);
          margin: 35px 0 15px;
        }
        .member-name {
          @include font(12px, #999);
        }
      }

      &--group-Edit {
        height: 40px;
        width: 72px;
        border: 1px solid #38aef0;
        margin: 28px 40px;

        .edit-btn {
          @include link(#38aef0);
          font-size: 16px;
          line-height: 40px;
          padding: 0 20px;
          
        }
      }
    }

    &__area {
      height: calc(100% - 100px - 90px);
      background-color: #fafafa;
      margin-top: 100px;
      margin-bottom: 90px;
      overflow: scroll;

      .message {
        padding: 35px 40px;
        background-color: #fafafa;

        &__header {
          margin-bottom: 12px;
          display: flex;

          &--user-name {
            @include font(16px, #333);
            margin-right: 12px;
          }
          &--date {
            @include font(12px, #999)
          }
        }
        &__text {
          @include font(14px, #434a54);
          margin-bottom: 46px;
        }
      }
    }

    &__footer {
      height: 90px;
      width: calc(100vw - 300px);
      background-color: #d2d2d2;
      position: fixed;
      bottom: 0;
      display: flex;
      align-items: center;

      .input {
        display: flex;

        &__form {
          height: 50px;
          width: calc(100vw - 300px - 50px - 15px - 100px - 40px);
          background-color: #fff;
          margin-left: 50px;
          display: flex;
          position: relative;
  
          &--text {
            height: 50px;
            border: none;
            padding-left: 10px;
            width: calc(100vw - 300px - 50px - 15px - 100px - 40px);
            position: absolute;
          }
          &--image {
            font-size: 2rem;
            height: 50px;
            margin-right: 10px;
            position: absolute;
            right: 10px;
            line-height: 50px;
          }
          .image-file {
            display: none;
          }
        }
        &__btn {
          color: #fff;
          height: 50px;
          width: 100px;
          background-color: #38aef0;
          margin-left: 15px;
          border-style: solid;
          border-style:none;
        }
      }
    }
  }
}
